
{% if songs %}
<h1>Matched songs</h1>
<ul class="songs">
	{% for song in songs %}
	<li>
	<a href="/create_tab_step2/{{ song.SongId }}" class="title">
			{{ song.SongName }}</a>
			<br />
			{% if show_tags %}
			Tags:
			{% if song.tag_set.all %}
			<ul class="tags">
				{% for tag in song.tag_set.all %}
				<li>{{ tag.name }}</li>
				{% endfor %}
			</ul>
			{% else %}
			None.
			{% endif %}
			<br />
			{% endif %}
		</li>
		{% endfor %}
	</ul>
	{% else %}
	<p>No songs found.</p>
	{% endif %}